
.sidebar {
  margin: 1% 0 0 5%;
  position: fixed;
}

.box-container{
  display: flex;
  min-width: 1100px;
  margin: 0 4.9%;
}

button {
  white-space:normal !important;
  word-wrap: break-word; 
  min-height: 90px;
  max-height: 90px;
  min-width: 90px;
  max-width: 90px;
  margin: 5px;
}

.col-11 {
  margin-left: 10px;
}

.col-10{
  margin-left: 15%; 
}

#data-panel{
  padding-left: 15px;
}